In [1]:
import pandas as p

#Loading dataset
SchoolListData=p.read_csv('Schools_List.csv')
SchoolListData

,School,Type,City,Students,Free or Reduced Lunch,Zipcodes,Maths Grades,Male,Female,Enrollment Rank Nationally,...,Reduced Price Lunch Eligible,Full Time Teachers,English Grade,White,Hispanic,Black,Two or More,Asian,American Indian,Pacific Islander
0,91st Psalm Christian School,Private,"Phoenix, AZ",161.0,NaN,85042.0,35.0,63.0,98.0,3324,...,NaN,15,45.0,51.0,66.0,26.0,2.0,0.0,0.0,0.0
1,Aaec - Paradise Valley,Public,"Phoenix, AZ",406.0,0.20,85032.0,55.0,137.0,269.0,"12,479",...,75.0,-1,21.0,45.0,325.0,14.0,11.0,6.0,3.0,2.0
2,Aaec - Smcc Campus,Public,"Phoenix, AZ",434.0,0.76,85042.0,21.0,186.0,248.0,"11,894",...,54.0,-1,35.0,48.0,340.0,38.0,3.0,2.0,2.0,1.0
3,Academy With Community Partners,Public,"Mesa, AZ",132.0,0.78,85203.0,29.0,69.0,63.0,"19,268",...,15.0,-1,78.0,38.0,74.0,11.0,4.0,3.0,2.0,0.0
4,Accel,Private,"Phoenix, AZ",196.0,NaN,85051.0,14.0,133.0,63.0,"2,938",...,NaN,25,56.0,79.0,84.0,23.0,6.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
275,Maryvale High School,Public,"Phoenix, AZ",2991.0,0.86,85033.0,48.0,1488.0,1503.0,273,...,193.0,138.8,52.0,78.0,2737.0,122.0,12.0,7.0,33.0,2.0
276,Mcclintock High School,Public,"Tempe, AZ",1847.0,0.01,85282.0,17.0,957.0,890.0,2038,...,3.0,84,64.0,606.0,794.0,187.0,69.0,74.0,99.0,18.0
277,Mesa Academy For Advanced Studies,Public,"Mesa, AZ",433.0,0.11,85207.0,50.0,206.0,227.0,Unranked,...,18.0,20.75,69.0,336.0,44.0,4.0,7.0,40.0,2.0,0.0
278,Mesa Distance Learning Program,Public,"Mesa, AZ",205.0,NaN,85203.0,69.0,90.0,115.0,17102,...,NaN,1.5,42.0,128.0,54.0,7.0,5.0,5.0,4.0,2.0
279,Mesa High School,Public,"Mesa, AZ",3480.0,0.68,85204.0,45.0,1838.0,1642.0,113,...,354.0,156.15,34.0,2145.0,1013.0,142.0,77.0,50.0,27.0,26.0

In [2]:
# Part 1

SchoolListData.replace("N/A", p.NA, inplace=True)

#Missing values per row and column
missing_val_per_row = SchoolListData.isnull().sum(axis=1)
missing_val_per_column = SchoolListData.isnull().sum()

# Summary of missing values per row and column
print("Missing Values Count per each Row:")
print(missing_val_per_row[missing_val_per_row > 0])
print("\nMissing Values COunt per each Column:")
print(missing_val_per_column[missing_val_per_column > 0])

Missing Values Count per each Row:
0       4
4       4
6       4
16      5
22      4
       ..
255     4
260    21
261     4
271     4
278     4
Length: 124, dtype: int64

Missing Values COunt per each Column:
Students                              15
Free or Reduced Lunch                123
Zipcodes                               2
Maths Grades                           3
Male                                  16
Female                                16
Enrollment Rank Nationally             3
Enrollment Rank in Arizona             2
Student/Teacher Rank in Arizona        3
Full Time Teacher Rank in Arizona      3
Free Lunch Eligibity                  85
Free Lunch Not Elibility              85
Reduced Price Lunch Eligible          85
Full Time Teachers                    25
English Grade                          5
White                                 15
Hispanic                              15
Black                                 15
Two or More                           15
Asian                                 15
American Indian                       15
Pacific Islander                      17
dtype: int64

In [3]:
#Deleting all columns that have missing values greater than 20

for col in SchoolListData.columns:
    if SchoolListData[col].isnull().sum() > 20:
        SchoolListData.drop(col, axis=1, inplace=True)

# Resulting DataFrame
print(SchoolListData)

                                School     Type         City  Students  \
0          91st Psalm Christian School  Private  Phoenix, AZ     161.0
1               Aaec - Paradise Valley   Public  Phoenix, AZ     406.0
2                   Aaec - Smcc Campus   Public  Phoenix, AZ     434.0
3      Academy With Community Partners   Public     Mesa, AZ     132.0
4                                Accel  Private  Phoenix, AZ     196.0
..                                 ...      ...          ...       ...
275               Maryvale High School   Public  Phoenix, AZ    2991.0
276             Mcclintock High School   Public    Tempe, AZ    1847.0
277  Mesa Academy For Advanced Studies   Public     Mesa, AZ     433.0
278     Mesa Distance Learning Program   Public     Mesa, AZ     205.0
279                   Mesa High School   Public     Mesa, AZ    3480.0

     Zipcodes  Maths Grades    Male  Female Enrollment Rank Nationally  \
0     85042.0          35.0    63.0    98.0                       3324
1     85032.0          55.0   137.0   269.0                     12,479
2     85042.0          21.0   186.0   248.0                     11,894
3     85203.0          29.0    69.0    63.0                     19,268
4     85051.0          14.0   133.0    63.0                      2,938
..        ...           ...     ...     ...                        ...
275   85033.0          48.0  1488.0  1503.0                        273
276   85282.0          17.0   957.0   890.0                       2038
277   85207.0          50.0   206.0   227.0                   Unranked
278   85203.0          69.0    90.0   115.0                      17102
279   85204.0          45.0  1838.0  1642.0                        113

    Enrollment Rank in Arizona Student/Teacher Rank in Arizona  \
0                           28                              43
1                          228                        unranked
2                          215                        unranked
3                          260                        unranked
4                           24                              32
..                         ...                             ...
275                         14                             169
276                         71                             179
277                    Unknown                        Unranked
278                        305                             276
279                          3                              87

    Full Time Teacher Rank in Arizona  English Grade   White  Hispanic  Black  \
0                                  29           45.0    51.0      66.0   26.0
1                            unranked           21.0    45.0     325.0   14.0
2                            unranked           35.0    48.0     340.0   38.0
3                            unranked           78.0    38.0      74.0   11.0
4                                  18           56.0    79.0      84.0   23.0
..                                ...            ...     ...       ...    ...
275                                11           52.0    78.0    2737.0  122.0
276                                67           64.0   606.0     794.0  187.0
277                          Unranked           69.0   336.0      44.0    4.0
278                               265           42.0   128.0      54.0    7.0
279                                 2           34.0  2145.0    1013.0  142.0

     Two or More  Asian  American Indian  Pacific Islander
0            2.0    0.0              0.0               0.0
1           11.0    6.0              3.0               2.0
2            3.0    2.0              2.0               1.0
3            4.0    3.0              2.0               0.0
4            6.0    2.0              2.0               1.0
..           ...    ...              ...               ...
275         12.0    7.0             33.0               2.0
276         69.0   74.0             99.0              18.0
277          7.0   40.0              2.0               0.0
278          5.0    5.0              4.0               2.0
279         77.0   50.0             27.0              26.0

[280 rows x 20 columns]

In [4]:
#Deleting all rows having missing values

SchoolListData.dropna(axis=0, inplace=True)

print(SchoolListData)

                                School     Type         City  Students  \
0          91st Psalm Christian School  Private  Phoenix, AZ     161.0
1               Aaec - Paradise Valley   Public  Phoenix, AZ     406.0
2                   Aaec - Smcc Campus   Public  Phoenix, AZ     434.0
3      Academy With Community Partners   Public     Mesa, AZ     132.0
4                                Accel  Private  Phoenix, AZ     196.0
..                                 ...      ...          ...       ...
275               Maryvale High School   Public  Phoenix, AZ    2991.0
276             Mcclintock High School   Public    Tempe, AZ    1847.0
277  Mesa Academy For Advanced Studies   Public     Mesa, AZ     433.0
278     Mesa Distance Learning Program   Public     Mesa, AZ     205.0
279                   Mesa High School   Public     Mesa, AZ    3480.0

     Zipcodes  Maths Grades    Male  Female Enrollment Rank Nationally  \
0     85042.0          35.0    63.0    98.0                       3324
1     85032.0          55.0   137.0   269.0                     12,479
2     85042.0          21.0   186.0   248.0                     11,894
3     85203.0          29.0    69.0    63.0                     19,268
4     85051.0          14.0   133.0    63.0                      2,938
..        ...           ...     ...     ...                        ...
275   85033.0          48.0  1488.0  1503.0                        273
276   85282.0          17.0   957.0   890.0                       2038
277   85207.0          50.0   206.0   227.0                   Unranked
278   85203.0          69.0    90.0   115.0                      17102
279   85204.0          45.0  1838.0  1642.0                        113

    Enrollment Rank in Arizona Student/Teacher Rank in Arizona  \
0                           28                              43
1                          228                        unranked
2                          215                        unranked
3                          260                        unranked
4                           24                              32
..                         ...                             ...
275                         14                             169
276                         71                             179
277                    Unknown                        Unranked
278                        305                             276
279                          3                              87

    Full Time Teacher Rank in Arizona  English Grade   White  Hispanic  Black  \
0                                  29           45.0    51.0      66.0   26.0
1                            unranked           21.0    45.0     325.0   14.0
2                            unranked           35.0    48.0     340.0   38.0
3                            unranked           78.0    38.0      74.0   11.0
4                                  18           56.0    79.0      84.0   23.0
..                                ...            ...     ...       ...    ...
275                                11           52.0    78.0    2737.0  122.0
276                                67           64.0   606.0     794.0  187.0
277                          Unranked           69.0   336.0      44.0    4.0
278                               265           42.0   128.0      54.0    7.0
279                                 2           34.0  2145.0    1013.0  142.0

     Two or More  Asian  American Indian  Pacific Islander
0            2.0    0.0              0.0               0.0
1           11.0    6.0              3.0               2.0
2            3.0    2.0              2.0               1.0
3            4.0    3.0              2.0               0.0
4            6.0    2.0              2.0               1.0
..           ...    ...              ...               ...
275         12.0    7.0             33.0               2.0
276         69.0   74.0             99.0              18.0
277          7.0   40.0              2.0               0.0
278          5.0    5.0              4.0               2.0
279         77.0   50.0             27.0              26.0

[259 rows x 20 columns]